.title {
    display: flex;
    justify-content: center;
    vertical-align: top;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar {
    width: 30%;
    min-width: 300px;
    max-width: 320px;
    float: right;
    padding: 25px 30px;
    border: 1px solid;
    margin: 0px 20% 0px 0px;
    border-radius: 6px;
    box-shadow: 0 1px 1px;
    background-color: #fdfdfd;
}

ul.social-media {
    list-style: none;
    margin-left: 10px;
    padding-left: 20px;
  }

  .social-media li {
      border-bottom: 1px solid #b0afc0;
      padding: 10px;
      width: 200px;
    }

    .social-media li a {
        color: grey;
        text-decoration: none;
        text-shadow: 1px 0px #ffffff;
        border-left: 7px solid #b0afc0;
        padding-left: 10px;        
    }

    .social-media li a:hover {
        border-left-color: #a26cd2;
    }
    .sidebar strong {
        margin-left: 36px;
        color: #4c4066;
        font-size: 19px;
    }

    .highlight {
        color: #b49494;
    }

    blockquote {
        border: 1px solid #E7E6E6;
        padding: 20px 27px;
        border-radius: 6px;
        background-color: chocolate;
        color: darkred;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 30%;
        min-width: 300px;
        max-width: 320px;
        float: right;
        padding: 25px 30px;
        border: 1px solid;
        margin: 0px 20% 0px 0px;
        border-radius: 6px;
        box-shadow: 0 1px 1px;
        background-color: #fdfdfd;
    }
    

    .poem {
        font-style: italic;
        color: #4C4066;   
    }

    .image {
        display: inline;
        width: 500px;
        height: 300px;
    }

    .main {
        font-size: medium;
    }

