.my-picture {
    display: inline;
    height: 60px;
}

.title {
    display: inline-block;
    vertical-align: top;
}

header {
    background-color: greenyellow;
    text-align: center;
    border-bottom: 1px solid #b49494;
    padding-top: 14px;
    height: 17px;
}

.sidebar {
    background-color: #fdfdfd;
    width: 30%;
    min-width: 300px;
    max-width: 320px;
    display: inline-block;
    padding: 25px 30px;
    border: 1px solid;
    margin-top: 55px;
    margin-left: 20px;
}

ul.social-media {
    list-style: none;
    margin-left: 10px;
    padding-left: 20px;
  }
